
.DS_Store

Demo Project.xcodeproj/project.xcworkspace/xcuserdata/johndurcan.xcuserdatad/UserInterfaceState.xcuserstate

Demo Project.xcodeproj/xcuserdata/johndurcan.xcuserdatad/IDETemplateMacros.plist

*.xcuserstate
